@model BojoweZaby.Models.FrogModel
@{
    ViewData["Title"] = "Frog Arena";
    bool isFrogDead = Model?.HP <= 0;
}

<link rel="stylesheet" href="~/css/frogPage.css" />

<div class="frog-container">
    <h1 class="welcome-title">Welcome to the Frog Arena!</h1>

    @if (Model == null)
    {
        <div class="center-box">
            <a class="button-large" asp-area="" asp-controller="Player" asp-action="CreateFrog">Create Frog</a>
        </div>
    }
    else
    {
        @if (@Model.HP <= 0)
        {
            <h3>@Model.Name nie żyje</h3>
        }
        else
        {
            <h3>@Model.Name</h3>
        }
        <img src="~/@Model.ImgPath" asp-append-version="true" />
        <table class="frog-table">
            <tr>
                <th>HP</th>
                <td>@Model.HP/@Model.MaxHp</td>
            </tr>
            <tr>
                <th>Base Attack</th>
                <td>@Model.BaseAttack +(@ViewBag.EffectiveAttack)</td>
            </tr>
            <tr>
                <th>Base Defense</th>
                <td>@Model.BaseDefense +(@ViewBag.EffectiveDefense)</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>@Model.ClassId</td>
            </tr>
        </table>
        if (isFrogDead)
        {
            <div class="modal-overlay">
                <div class="modal-content">
                    <h2>@Model.Name is dead 🐸💀</h2>
                        <a class="close-btn" asp-action="CreateFrog" asp-controller="Player" asp-area="">Create New Frog</a>
                        <a class="close-btn" asp-action="DeleteFrog" asp-controller="Player" asp-area="">Surrender</a>
                </div>
            </div>
        }
        else
        {
            <div class="action-buttons">
                <a class="button-action" asp-area="" asp-controller="Player" asp-action="Attack">Attack</a>
                <a class="button-action" asp-area="" asp-controller="Player" asp-action="Explore">Explore</a>
                <a class="button-action" asp-area="" asp-controller="Player" asp-action="Equipment">Show Equipment</a>
            </div>
        }


    }

    <div class="center-box">
        <a class="button-leaderboard" asp-area="" asp-controller="Player" asp-action="Leaderboard">Leaderboard</a>
    </div>
</div>